body {
  background-color:#121211;
}

#center {
  margin-left: auto;
  margin-right: auto;

  width: 800px;
  height: 300px;
  margin-top: 20px;
}

#info {
  float: left;
  width: 600px;
}

#label {
  margin-left: auto;
  margin-right: auto;

  background-color:#2B2B2B;
  border-style:solid;
  border-width:5px;
  border-color:#2B2B2B;
  -moz-border: 10px;
  border-radius: 10px;

  width: 525px;
  height: 30px;

  color:#84BF22;
  font-family:"Lucida Console", Monaco, monospace;
  font-size:200%;
}

#content {
  margin-left: auto;
  margin-right: auto;

  margin-top: 10px;

  background-color:#2B2B2B;
  border-style:solid;
  border-width:5px;
  border-color:#2B2B2B;
  -moz-border: 10px;
  border-radius: 10px;

  width: 525px;
  height: 100px;

  color:#84BF22;
  font-family:"Lucida Console", Monaco, monospace;
  font-size:100%;
}

#buttons {
  float: right;
  width: 200px;
}
