#settings {
  width: 630px;
  margin-top: 200px;
  margin-left: -15px;
}

#speed {
  margin-bottom: 15px;
  font-size: 60%;
}

#pitch {
  margin-bottom: 15px;
  font-size: 60%;
}

#amp {
  margin-bottom: 15px;
  font-size: 60%;
}

.lang {
  font-size: 70%;
  margin-bottom: 3px;
}


#top {
  color:#FFFFFF;
  font-family:"Lucida Console", Monaco, monospace;
  font-size:150%;

  margin-left: auto;
  margin-right: auto;

  background-color:#2B2B2B;

  border-style:solid;
  border-width:1px;
  border-color:#2B2B2B;

  width: 628px;
  height: 20px;
}

.setting-label {
  color:#84BF22;
  font-family:"Lucida Console", Monaco, monospace;
  margin-bottom: 5px;
}

#mid {
  background-color:#2B2B2B;
  border-style:solid;
  border-width:1px;
  border-color:#2B2B2B;

  width: 568px;
  padding:30px;
}

#bottom {
  background-color:#2B2B2B;
  width: 628px;
  height: 10px;

  border-style:solid;
  border-width:1px;
  border-color:#2B2B2B;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
}

