<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <title>Rbot.IT</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/code.css" %}" />
    <script src="{% static "js/jquery-1.7.2.min.js" %}"></script>
    <script src="{% static "js/buttons.js" %}"></script>


  </head>

  <body>
    {% include "logo.html" %}

    <div id="center">

      <div id="info">
        <div id="label">
          <center>Code - Creation Of Rbot.IT</center>
        </div>
        <div id="content">
          </br><center>*Under Construction*</center>
          </br><center>Come back soon for step by step instructions on how to setup rbotit.com.  This will cover Django, Apache, Nginx, Varnish Cache, Linode, Ubuntu Server, MySql, Github and much more.
        </div>
      </div>

      <div id="buttons">
        <input id="new" type="image" src="{% static "images/newbttn.png" %}">
        <input id="stats" type="image" src="{% static "images/statsbttn.png" %}">
      </div>
    </div>
  </body>

</html>

