<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}" />

  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "ur-c9aa765-d018-cc16-123c-964934d12a4"}); </script>
</head>

<div id="footer">
  <center>
  <span class='st_facebook_large' displayText='Facebook'></span>
  <span class='st_twitter_large' displayText='Tweet'></span>
  <span class='st_email_large' displayText='Email'></span>
  </center>
  <center>
    <script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>
  </center>
</div>
